## Create databases

In [ ]:
spark.sql("SHOW DATABASES").show()

+------------------+
|      databaseName|
+------------------+
|           default|
|       eea_curated|
|information_schema|
|        wdi_curate|
+------------------+

In [ ]:
spark.sql("SHOW CATALOGS").show()

+--------------+
|       catalog|
+--------------+
|     data_demo|
|hive_metastore|
|       samples|
|        system|
+--------------+

In [ ]:
%sql
CREATE DATABASE IF NOT EXISTS data_demo.wdi_curate;
CREATE DATABASE IF NOT EXISTS data_demo.eea_curated;

In [ ]:
spark.sql("SHOW DATABASES").show()

+------------------+
|      databaseName|
+------------------+
|           default|
|       eea_curated|
|information_schema|
|        wdi_curate|
+------------------+

In [ ]:
spark.sql("USE data_demo.wdi_curate")

DataFrame[]

In [ ]:
%sql

SELECT current_schema();

current_database()
wdi_curate

World Development Indicators data

In [ ]:
df_world_data = spark.read.format("csv")\
.option("header", "true")\
    .load("dbfs:/datalake/raw/world_development_indicators/date=20240313/WDIData.csv")

In [ ]:
df_world_data = spark.read.format("csv").option("header", "true").load("dbfs:/datalake/raw/world_development_indicators/date=20240313/WDIData.csv")
df_world_country = spark.read.format("csv").option("header", "true").load("dbfs:/datalake/raw/world_development_indicators/date=20240313/WDICountry.csv")
df_world_series = spark.read.format("csv").option("header", "true").load("dbfs:/datalake/raw/world_development_indicators/date=20240313/WDISeries.csv")

In [ ]:
def rename_columns(df):
    current_columns = df.columns
    for col in current_columns:
        new_col_name = col.replace(" ", "_")
        df = df.withColumnRenamed(col, new_col_name)
    return df

In [ ]:
df_world_data = rename_columns(df_world_data)

df_world_country = rename_columns(df_world_country)

df_world_series = rename_columns(df_world_series)

In [ ]:
df_world_country.columns[:5]

['Country_Code', 'Short_Name', 'Table_Name', 'Long_Name', '2-alpha_code']

In [ ]:
df_world_series.columns

['Series_Code',
 'Topic',
 'Indicator_Name',
 'Short_definition',
 'Long_definition',
 'Unit_of_measure',
 'Periodicity',
 'Base_Period',
 'Other_notes',
 'Aggregation_method',
 'Limitations_and_exceptions',
 'Notes_from_original_source',
 'General_comments',
 'Source',
 'Statistical_concept_and_methodology',
 'Development_relevance',
 'Related_source_links',
 'Other_web_links',
 'Related_indicators',
 'License_Type',
 '_c20']

In [ ]:
df_world_data = df_world_data.dropna(how='all')

df_world_country = df_world_country.dropna(how='all')

df_world_series = df_world_series.dropna(how='all')

In [ ]:
dataframes = {
  'WDI_Data'   : df_world_data,
  'WDI_Country': df_world_country,
  'WDI_Series' : df_world_series
}
for df_name, df in dataframes.items():
  print(f'Number of records of dataframe {df_name} before dropping nulls: {df.count()}')

Number of records of dataframe WDI_Data before dropping nulls: 395276
Number of records of dataframe WDI_Country before dropping nulls: 275
Number of records of dataframe WDI_Series before dropping nulls: 4454

In [ ]:

df_world_data = df_world_data.dropDuplicates()
df_world_country = df_world_country.dropDuplicates()
df_world_series = df_world_series.dropDuplicates()

dataframes = {
  'WDI_Data'   : df_world_data,
  'WDI_Country': df_world_country,
  'WDI_Series' : df_world_series
}
for df_name, df in dataframes.items():
  
  print(f'Number of records of dataframe {df_name} after dropping nulls: {dataframes[df_name].count()}')

Number of records of dataframe WDI_Data after dropping nulls: 395276
Number of records of dataframe WDI_Country after dropping nulls: 275
Number of records of dataframe WDI_Series after dropping nulls: 2399

In [ ]:
from pyspark.sql.functions import length, col

df_world_data = df_world_data.where(length(df_world_data["Country_Code"]) == 3)
df_world_country = df_world_country.where(length(df_world_country["Country_Code"]) == 3)

df_world_series  = df_world_series.where(~col("Series_Code").contains(" "))

In [ ]:
partition ='20240313'
dbfs_base_path   = 'dbfs:/datalake/curated/wdi'
output_partition = f'year={partition[:4]}/month={partition[4:6]}/day={partition[6:]}/'
save_path='dbfs:/datalake/curated/wdi/data/year=2024/month=03/day=13/'

(
  df_world_data
  .coalesce(1)
  .write
   .mode("overwrite")
  .format('parquet')
  .option('path', f'{dbfs_base_path}/data/{output_partition}')
  .save()
)

In [ ]:
spark.sql("SHOW CATALOGS").show()

+--------------+
|       catalog|
+--------------+
|     data_demo|
|hive_metastore|
|       samples|
|        system|
+--------------+

In [ ]:
spark.sql("SHOW DATABASES").show()

+------------------+
|      databaseName|
+------------------+
|           default|
|       eea_curated|
|information_schema|
|        wdi_curate|
+------------------+

In [ ]:
data_wdi_curate = {
  'data'   : df_world_data,
  'country': df_world_country,
  'series' : df_world_series
}
# Specify the S3 bucket and path
s3_bucket = "databricks-workspace-stack-10fab-bucket"
s3_path = "unity-catalog/1803637943354536"

# Write the DataFrame to S3 in Parquet format
df_temp_path = f"s3a://{s3_bucket}/{s3_path}/temp"
#dataframes['WDI_Data'].write.mode("overwrite").parquet(df_temp_path)

# Create an external table
spark.sql("USE data_demo.wdi_curate")
for name, df in data_wdi_curate.items():

    # Write the DataFrame to S3 in Parquet format
    df_temp_path = f"s3a://{s3_bucket}/{s3_path}/temp_{name}"
    data_wdi_curate[name].write.mode("overwrite").parquet(df_temp_path)

    spark.sql(f"""
    CREATE TABLE IF NOT EXISTS {name}
    USING PARQUET
    LOCATION '{df_temp_path}'
    """)

In [ ]:
input_path = "/datalake/raw/co2_passenger_cars_emissions"
df_co2_emissions = spark.read.option("multiline", "true").json(input_path)

       At1 (mm)  At2 (mm)                        Cn  ... Z (Wh/km)    Zr emissions
0        1679.0    1632.0     458 SPECIALE A AD S-A  ...       NaN  None       559
1        1679.0    1632.0     458 SPECIALE A AD S-A  ...       NaN  None       559
2           NaN       NaN                   AUDI A8  ...       NaN  None       545
3           NaN       NaN                   AUDI A8  ...       NaN  None       545
4        1714.0    1617.0  BUGATTIGRANDSPORTVITESSE  ...       NaN  None       539
...         ...       ...                       ...  ...       ...   ...       ...
99995    1583.0    1583.0                        M2  ...       NaN  None       185
99996    1583.0    1583.0                        M2  ...       NaN  None       185
99997    1583.0    1583.0                        M2  ...       NaN  None       185
99998    1583.0    1583.0                        M2  ...       NaN  None       185
99999    1583.0    1583.0                        M2  ...       NaN  None       185

[100000 rows x 42 columns]

In [ ]:
# Renaming the columns
for col_name in df_co2_emissions.columns:
    new_col_name = col_name.replace(' ', '_').replace('(', '').replace(')', '')
    df_co2_emissions = df_co2_emissions.withColumnRenamed(col_name, new_col_name)

In [ ]:
df_co2_emissions.columns[:5]

['At1_mm', 'At2_mm', 'Cn', 'Cr', 'Ct']

In [ ]:
print(f'Number of records of dataframe co2_emissions before dropping nulls: {df_co2_emissions.count()}')

df_co2_emissions = df_co2_emissions.dropna(how='all')

print(f'Number of records of dataframe co2_emissions after dropping nulls: {df_co2_emissions.count()}')

Number of records of dataframe co2_emissions before dropping nulls: 100000
Number of records of dataframe co2_emissions after dropping nulls: 100000

In [ ]:

df_co2_emissions = df_co2_emissions.dropDuplicates()

df_co2_emissions = df_co2_emissions.where(length(df_co2_emissions["MS"]) == 2)

df_co2_emissions = df_co2_emissions.filter(col("MS").rlike("^[A-Z]{2}$"))

# Show the filtered DataFrame
df_co2_emissions.toPandas()

       At1_mm  At2_mm                          Cn  ... Z_Wh/km    Zr emissions
0      1570.0  1575.0               VANTAGE S V12  ...     NaN  None       395
1      1669.0  1665.0                 CONTINENTAL  ...     NaN  None       358
2      1669.0  1665.0                 CONTINENTAL  ...     NaN  None       338
3      1586.0  1590.0                     unknown  ...     NaN  None       337
4      1644.0  1642.0             FLYING SPUR W12  ...     NaN  None       335
...       ...     ...                         ...  ...     ...   ...       ...
99995  1690.0  1690.0           RANGE ROVER SPORT  ...     NaN  None       185
99996  1690.0  1685.0  Range Rover Sport 3.0 SDV6  ...     NaN  None       185
99997  1583.0  1583.0                          M2  ...     NaN  None       185
99998  1583.0  1583.0                          M2  ...     NaN  None       185
99999  1583.0  1583.0                          M2  ...     NaN  None       185

[100000 rows x 42 columns]